@charset "utf-8";
/* CSS Document */
div{
	width:760px;
	}
p, table tr td{
	font-size:14px;
	font: 14px '微软雅黑';
	}
h2, h4{
	font-family:"微软雅黑", "新宋体", "华文隶书", "华文楷体";
	font-weight:normal;
	}
table{

	width:760px;}
table td{
		border-bottom:1px  dashed blue;
	}
span{
	color:#69F;
	font-weight:normal;
	}