@charset "utf-8";
/* CSS Document */
span{
	color:orange;
	font-size:25px;
	font-weight:bold;
	font-family:"微软雅黑", "新宋体", "华文隶书", "华文楷体"
	}

p{
	font:28px "微软雅黑", "新宋体", "华文隶书", "华文楷体";
	color:crimson;
	}